<div id="GL-v-app" style="height:100%;width:100%;">
	<!-- GL-page layout (S) ------------------------------ -->
	<div class="GL-pageLayout-wrapper">
		<div class="GL-pageLayout-header-wrapper clearfix">
			<div class="GL-pageLayout-header" id="GL_appLayoutTopPageArea">&nbsp;</div>
		</div>
		<div class="GL-pageLayout-content-wrapper clearfix">
			<div class="GL-pageLayout-content">
				<div class="GL-pageLayout-content-center-wrapper">
					<div class="GL-pageLayout-content-center" id="GL_appLayoutCenterPageArea"><router-view></router-view></div>
				</div>
				<div class="GL-pageLayout-content-left"></div>
				<div class="GL-pageLayout-content-right"></div>
			</div>
		</div>
		<div class="GL-pageLayout-footer-wrapper clearfix">
			<div class="GL-pageLayout-footer">&nbsp;</div>
		</div>
	</div>
	<!-- GL-page layout (E) ------------------------------ -->
	<!-- GL-loading image (S) ---------------------------- -->
	<div class="GL-loading-wrapper">
		<div class="GL-loading-container">
			<div class="GL-loading"></div>
			<div class="GL-loading-text">loading</div>
		</div>
	</div>
	<!-- GL-loading image (E) ---------------------------- -->
</div>
<!-- Vue template container ( script type="text/x-template" ) (S) -->
<div id="GL-component-template-container"></div>
<!-- Vue template container ( script type="text/x-template" ) (E) -->
